<html>
	<span align="left"><%= Date.today.strftime('%m/%d/%Y') %></span><br><br>
	<body>
	  <b>Subject: COVID-19 Test Positive</b>
	  <br /><br />
	  <div>
			An individual in your organization has reported testing positive for COVID-19. Following is known information about the  business divison and location. An investigation and contact trace effort has been launched to identify additional exposures.
	  </div>
	  <table>
	  	<%reports_to = @account&.division_name || @account&.reports_to&.name %>
		  <tr>
		    <td>Division: <%= reports_to.present? ? reports_to+"/"+@account&.name : @account&.name %></td>
		  </tr>
		  <tr>
		    <td>Location: <%= @facility&.name %> </td>
		  </tr>
		</table>
	  <br />
	  Please <a href=decrypt_email_link_index_cases_url(signature: @signature) target="_blank"><b>Click Here</b></a> to see employee details.
	</body>
</html>
