%details.idc-panel
  %summary #{t :facilities}
  %small
  .idc-form-group
    = f.collection_check_boxes(:facility_ids, facilities, :id, :name, :item_wrapper_class => 'form-group one-third') do |b|
      = b.check_box
      = b.label
